@model HomeModel

<div class="span4">
    Picture
</div>
<div class="span8">
    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="LocationDropDown">Location</label>
            <div class="controls">
                <select name="Location">
                    <option>Right Abdomen</option>
                    <option>Left Abdomen</option>
                    <option>Right Thigh</option>
                    <option>Left Thigh</option>
                    <option>Right Arm</option>
                    <option>Left Arm</option>
                    <option>Right Butte</option>
                    <option>Left Butte</option>
                </select>
                <label class="radio inline">
                    <input type="radio" name="LocationModifier" value="High" checked="checked" />
                    High
                </label>
                <label class="radio inline">
                    <input type="radio" name="LocationModifier" value="Middle" checked="checked" />
                    Middle
                </label>
                <label class="radio inline">
                    <input type="radio" name="LocationModifier" value="Low" checked="checked" />
                    Low
                </label>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="LocationDropDown">Date</label>
            <div class="controls">
                <input type="text" class="input-small" id="DateTextBox" placeholder="Date" />
                <input type="text" class="input-small" id="TimeTextBox" placeholder="Time" />
            </div>
        </div>
    </form>
</div>

<div class="span4">
    <div class="progress">
        <div class="bar bar-success" style="width: 75%;"></div>
        <div class="bar bar-danger" style="width: 25%;"></div>
    </div>
</div>