<div class="jumbotron">
    <h2>Track rotating injections painlessly.</h2>
    <p class="lead">Inject.cc is a tool for patients of injectable medications.  Stick to your schedule and rotation, whatever that may be.</p>
    <a class="btn btn-large btn-success" href="#">Sign up today</a>
</div>

<hr>

<div class="row-fluid marketing">
    <div class="span6">
        <h4>Works anywhere</h4>
        <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

        <h4>Motivational</h4>
        <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </div>

    <div class="span6">
        <h4>Customizable</h4>
        <p>Tailor your rotation to your preferences - any site, any schedule.</p>

        <h4>Anonymous</h4>
        <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </div>
</div>