body
{
    background: #f5f5f5 linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    padding-top: 20px;
    padding-bottom: 40px;
}

.no-bullet { list-style: none; margin-left: 0; }
.clearfix { height: 0; }

.login-compact .dropdown-menu .checkbox
{
    padding-left: 20px;
}

.masthead h3 { display: inline; }
.masthead .login-compact { float: right; }
.masthead .phone-login-toggle { display: none; float: right; margin: 5px 0; }

@media (min-width: 481px) and (max-width: 979px) 
{
    .masthead .login-compact { margin: 10px 0; }
    
}
@media (max-width: 767px) 
{
    .masthead .login-compact { margin: 10px 0; display: none; float: left; clear: both; }
    .masthead .phone-login-toggle { display: inline-block; }
    hr { margin: 10px 0; }
}

/* Injection styles
-----------------------------------------------------------*/

.injection-site { cursor: move; }
.injection-diagram 
{ 
    height: 250px; 
    background-size: 100%;
    background-position-x: center;
    background-position-y: center;
    cursor: crosshair;
}

.canvas-point { cursor: pointer; fill: #666; }
.canvas-point-selected { fill: #cc2222; }
.canvas-point:hover { fill: #22cc22; }

/* Marketing styles
-----------------------------------------------------------*/

/* Main marketing message and sign up button */
.jumbotron 
{
    margin: 60px 0;
    text-align: center;
}
.jumbotron h1 
{
    font-size: 72px;
    line-height: 1;
}
.jumbotron .btn 
{
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing
{
    margin: 60px 0;
}
.marketing p + h4
{
    margin-top: 28px;
}

.well h3
{
    display: block;
    width: 100%;
    padding: 0;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 40px;
    color: #333333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
    font-weight: bold;
}

.clear-well { background: transparent !important; border: none !important; }
