body
{
    background: #f5f5f5 linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    padding-top: 20px;
    padding-bottom: 40px;
}

.no-bullet { list-style: none; margin-left: 0; }
.clearfix { height: 0; }
.datepicker[readonly] { cursor: pointer; }

.login-compact .dropdown-menu .checkbox
{
    padding-left: 20px;
}

.masthead h3 { display: inline; }
.login-compact { float: right; }
.phone-login-toggle { display: none; float: right; margin: 5px 0; }
.phone-menu-toggle { display: none; float: right; margin: 5px 0; }
.main-menu { float: right; }

@media (min-width: 481px) and (max-width: 979px) 
{
    .masthead .login-compact { margin: 10px 0; }
    
}
@media (max-width: 767px) 
{
    .login-compact { margin: 10px 0; display: none; float: left; clear: both; }
    .main-menu { margin: 10px 0; display: none; float: left; clear: both; }
    .phone-login-toggle { display: inline-block; }
    .phone-menu-toggle { display: inline-block; }
    hr { margin: 10px 0; }
    
    .main-menu
    {
        background: #222;
        position: fixed;
        margin: 0;
        top: 0;
        right: 0;
        height: 100%;
        width: 60%;
        z-index: 1000;
    }
    .main-menu li
    {
        float: none;
        background: #222 linear-gradient(to bottom, rgba(255,255,255,.05) 0%,rgba(255,255,255,.15) 100%);
        padding: 15px;
        border-bottom: 2px solid #333;
    }
    .main-menu li h3,
    .main-menu li a
    {
        color: #f0f0f0;
        font-size: 130%;
        line-height: 130%;
        padding: 0; margin: 0;
    }
    .main-menu li:hover { background: #222 linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,.1) 100%); }
    .main-menu li a:hover { background: none; }
    body.phone-menu-visible
    {
        position: fixed; 
        right: 60%;
    }
    .injection-diagram { margin-bottom: 20px; }
}

/* Injection styles
-----------------------------------------------------------*/

.injection-site { cursor: move; }
.injection-diagram
{ 
    background-size: 100%;
    background-position-x: center;
    background-position-y: center;
    cursor: crosshair;
}
.injection-diagram.readonly { cursor: default; }

.canvas-point { fill: #666; }
.canvas-point-selected { fill: #cc2222; }
.enabled .canvas-point { cursor: pointer; }
.enabled .canvas-point:hover { fill: #22cc22; }

/* Marketing styles
-----------------------------------------------------------*/

/* Main marketing message and sign up button */
.jumbotron 
{
    margin: 60px 0;
    text-align: center;
}
.jumbotron h1 
{
    font-size: 72px;
    line-height: 1;
}
.jumbotron .btn 
{
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing
{
    margin: 60px 0;
}
.marketing p + h4
{
    margin-top: 28px;
}

.well h3
{
    display: block;
    width: 100%;
    padding: 0;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 40px;
    color: #333333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
    font-weight: bold;
}

.clear-well { background: transparent !important; border: none !important; }
