@model InjectCC.Web.ViewModels.Injection.HistoryModel

<h2>History</h2>

<ol>
    @foreach (var injection in Model.Injections)
    {
        <li>
            <strong>@injection.Location.Name</strong>
            @injection.Date
            @injection.Medication.Name
        </li>
    }
</ol>